<div class="ball-item">
    <a href="https://forms.gle/k1X6oxg2PDDaEvui8" class="edit-btn" target="_blank" rel="noopener noreferrer" title="Suggest an edit">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
		</svg>
	</a>
    <h3>{{name}}</h3>
    <a href="calendar?ball_name={{name}}" class="ball-date" download>
        <p>
            {{date}}
        </p>
        <p style="font-size: 0.7em">
            (add to calendar)
        </p>
    </a>
    <p class="ball-theme">{{theme}}</p>
    <p class="ball-price">{{price}}</p>
    <div class="buttons-container">
        {{#each links}}
            <a href="{{url}}" class="buy-tickets-btn">{{text}}</a>
        {{/each}}
    </div>
</div>