<div class="ball-item">
    <h3>{{name}}</h3>

    <a href="calendar?ball_name={{name}}" class="ball-date-link" download>
        📅 {{date}}
        <span class="cal-hint">(Add to Calendar)</span>
    </a>

    {{#if theme}}
    <p class="ball-theme">Theme: {{theme}}</p>
    {{/if}}

    <p class="ball-price">{{price}}</p>

    <div class="buttons-container">
        {{#each links}}
            <a href="{{url}}" class="btn btn-{{text}}">{{text}}</a>
        {{/each}}
    </div>
</div>